// base
@import 'base/base';
@import 'base/reset';
@import 'base/typography';
// layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';
//utilidades
@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/variables';


.hero {
    background-image: url(/assets/images/hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 120rem;
    .difuminado {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        display: flex;
        .hero__content {
            margin: auto auto;
            font-size: 5rem;
            color: white;
            font-family: "montserrat";
        }
    }
}

.reasons {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .reasons__title {
        font-family: "Lato";
        text-align: center;
        padding-bottom: 5rem;
        font-size: 3rem;

    }
    .reasons__articles {
        font-family: "Lato";
        display: flex;
        padding-left: 10rem;
        padding-right: 10rem;
        .reasons__article{
            padding-left: 5rem;
            padding-right: 5rem;
            text-align: center;
            h3{
                font-size: 2rem;
            }
        }
    }
}

#iphone-selector {
    display: flex;
    flex-direction: column;
    margin: 4rem 20rem ;
    font-family: "lato";
    h2 {
        text-align: center;
    }
    .seccion-cuotas, .seccion-modelo{
        margin: 1.5rem auto;
        select {
            appearance: none;
            -webkit-appearance: none; /* Safari */
            -moz-appearance: none; /* Firefox */
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 1rem;
            border-radius: 5px;
            width: 30rem;
            }
    }
    button {
        margin: 3rem auto;
        background-color: #3498db; 
        border: none; 
        color: white; 
        padding: 1.5rem 3rem; 
        text-align: center; 
        text-decoration: none; 
        width: 30rem;
        cursor: pointer; 
        border-radius: 5px; 
        transition: background-color 0.3s ease, transform 0.3s ease; 
        &:hover {
            background-color: #2980b9; /* Color de fondo al pasar el ratón */
            transform: scale(1.01); /* Agrandar ligeramente */
        }
    
        &:active {
            background-color: #1c5985; /* Color de fondo al hacer clic */
            transform: scale(0.99); /* Encoger ligeramente */
        }
    }
    #resultado {
        text-align: center;
        margin: 5rem auto;
        padding: 1.5rem;
        border: 1px solid #ccc;
        display: inline-block;
    }
}