@import '../base/typography';
@import '../utilities/variables';

.header{
    background-color: $blanco;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        height: 7rem;
        width: auto;
        margin: 2rem;
    }
    .header__navbar {
        font-family: "montserrat";
            a {
                margin-right: 2rem;
                margin-left: 2rem;
            }
    }
    .header__carrito {
        img {
            height: 7rem;
            width: auto;
            margin: 2rem;
        }
    }
}