html{
    font-size: 62.5%; /* 1 REM = 10PX */
    box-sizing: border-box; /* paul irish borderbox */
}

*, *:before, *:after { /* paul irish borderbox */
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1 REM = 10PX */
}



// Globales

.contenedor {
    margin: 1.5rem 1.5rem;
    @media (min-width: 768px) {
    margin: 1.5rem 3rem;
    }
    @media (min-width: 900px) {
        margin: 1.5rem 6rem;
    }
}

a { /* Para sacar el subrayado de los enlaces*/
    text-decoration: none;
    color: inherit;
}

.linea-gris {
    width: 90%;
    height: 1px;
    background-color: rgba($color: #4b4b4b, $alpha: 0.4);
    margin: 0 auto;
}